.location-type{
  position:relative;
}

.location-image{
  .img-container{
    //width:240px;
    //height:136px;
    height:245px;
    background-image: url(/assets/img/onboard/icon-img-placeholder-locations.svg);
  }

  a{
    cursor:pointer;
  }
}

.info{
  margin-top:-10px;

  .ttl{
    font-weight:bold;
    margin-top:10px;
  }

  .left{
    margin-right:5px;
  }

  button{
    margin:15px 0 0;
    background:#33c6d9;
  }
}