<div class="products content">
  <div class="top">
    <div class="title left">
      <div class="main-title left">Products</div>
      <div class="sub-title">{{total}} items</div>
    </div>
    <div class="filter uptracker-form clearfix">
      <div class="left input">
        <input type="text" placeholder="Keyword search" [(ngModel)]="searchKey" class="col s12" (input)="searchFilter($event)" />
      </div>
      <div class="left filter-btn">
        <a (click)="showFiltersModal()">
          <fa [name]="'filter'"></fa>
          <span>Filters</span>
        </a>
      </div>
      <div class="right">
        <button type="button" (click)="requestProduct()" class="uptracker-form-btn waves-light waves-effect">Request Product</button>
      </div>
      <div class="right select">
        <select [(ngModel)]="sortBy" materialize="material_select" (change)="itemsSort($event)">
          <option value="">Sort by</option>
          <option value="A-Z">A-Z</option>
          <option value="Z-A">Z-A</option>
        </select>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="list">
      <div class="item center-align" *ngFor="let product of products$ | async; let i=index">
        <div class="inner">
          <div class="hazardous" *ngIf="product.hazardous"><i class="material-icons">warning</i></div>
          <div class="img" [ngStyle]="{ 'background-image': 'url(' + product.images + ')' }" (click)="viewProductModal(product)">
            <div class="trackable" *ngIf="product.trackable"><fa [name]="'barcode'"></fa></div>
          </div>
          <div class="info">
            <div class="ttl" (click)="viewProductModal(product)">{{product.name}}</div>
            <div class="bottom">
              <div class="variations left">{{product.variant_count}} Variations</div>
              <!--<div class="price right">${{product.priceMin}} - ${{product.priceMax}}</div>-->
              <div class="price right">{{product.price_range}}</div>
            </div>
            <!--<div class="edit" (click)="editProductModal(vendor)"></div>-->
          </div>
        </div>
      </div>
      <div class="empty item" (click)="editProductModal()"></div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>