.products {
  .top{
    .title{
      margin-bottom:15px;
    }

    .filter{
      .red-helper{
        position:relative;
        background:#f1594e;
        width:30px;
        height:30px;
        border-radius:0 5px 5px 0;
        margin-left:1px;

        .helper{
          right:6px;
          top:6px;
          width:18px;
          height:18px;
          background-image: url(/assets/img/icon-info-white.svg);
          background-size: cover;
        }
      }

      .red-btn{
        border-radius: 5px 0 0 5px;
      }
    }
  }

  .list{
    letter-spacing: 0;
    word-spacing: 0;
    font-size:0;
    padding-bottom:15px;
    text-align:left;
    margin-left:-20px;

    .item{
      display:inline-block;
      vertical-align:top;
      width:250px;
      height:250px;
      margin-left:20px;
      margin-bottom:20px;
      max-width:100%;

      .inner{
        width:250px;
        height:250px;
        border: 1px solid #d6d6d6;
        background:#fff;
        cursor:pointer;
        border-radius:5px;

        &:hover{
          width:260px;
          height:260px;
          transform: translateX(-5px) translateY(-5px);
          box-shadow: 2px 2px 0 0 #e6e6e6;

          .img{
            margin-top:33px;
            margin-bottom:10px;
            height:155px;
            width:155px;
          }
        }

        &.active{
          border:3px solid #000;
        }
      }

      .img{
        margin:30px auto 13px;
        height:150px;
        width:150px;
        //border-radius:50%;
        background:#f1f2f2 no-repeat center center;
        background-size:cover;
      }

      .info{
        position:relative;

        .ttl{
          font-size:12px;
        }

        .vendor-name{
          font-size:12px;
          color:#9d9d9d;
        }

        .edit{
          display: none;
          cursor:pointer;
          position:absolute;
          width:15px;
          height:15px;
          background:url(/assets/img/icon-edit.svg) no-repeat;
          right:21px;
          top:2px;
          left:auto;
        }
      }

      &:hover{
        .info{
          .edit{
            display:block;
          }
        }
      }
    }
  }
}

@media all and (max-width: 768px){
  .filter{
    .right{
      float:left !important;

      &.red-helper{
        float:right !important;
      }

      button{
        //float:left;
      }
    }
  }
}

@media all and (max-width: 500px){
  .products{
    .list{
      text-align:center;
      clear:both;
    }
  }
}