<div class="close" (click)="dismissModal()"></div>
<div class="title center-align">Location Details</div>
<form class="uptracker-form" materialize (ngSubmit)="onSubmit()" #locationForm="ngForm" autocomplete="off" novalidate>
  <div class="input row">
    <div class="col s12 m6">
      <div class="label left-align">Location Name</div>
      <input
          id="name"
          placeholder="Enter name here"
          class="validate col s12"
          [(ngModel)]="location.name"
          name="name"
          #name="ngModel"
          required
          type="text">
      <div [hidden]="name.valid || name.pristine" class="error red-text left-align">
        Location Name is required.
      </div>
    </div>
    <div class="col s12 m6 location-type">
      <div class="helper"></div>
      <div class="label left-align">Location Type</div>
      <div class="select" [class.dirty]="typeDirty">
        <select
            [(ngModel)]="location.location_type"
            name="type"
            #type="ngModel"
            materialize="material_select"
            required
            (change)="changeType()"
            [materializeSelectOptions]="locationTypes$ | async">
          <option value="">Please select one</option>
          <option *ngFor="let type of locationTypes$ | async" [value]="type">{{type}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="input row">
    <div class="label left-align col s12">Street Address</div>
    <div class="col s12 m8">
      <input
          id="street_1"
          placeholder="123 Main St."
          class="validate col s12"
          [(ngModel)]="location.street_1"
          name="street_1"
          #street_1="ngModel"
          required
          type="text">
      <div [hidden]="street_1.valid || street_1.pristine" class="error red-text left-align">
        Street Address is required.
      </div>
    </div>
    <div class="col s12 m4">
      <input
          id="street_2"
          placeholder="Unit #"
          class="validate col s12"
          [(ngModel)]="location.street_2"
          name="street_2"
          #street_2="ngModel"
          type="text">
    </div>
  </div>

  <div class="input row">
    <div class="col s12 m4">
      <div class="label left-align">City</div>
      <input
          id="city"
          placeholder="Enter city here"
          class="validate col s12"
          [(ngModel)]="location.city"
          name="city"
          #city="ngModel"
          required
          type="text">
      <div [hidden]="city.valid || city.pristine" class="error red-text left-align">
        City is required.
      </div>
    </div>
    <div class="col s12 m4">
      <div class="label left-align">State</div>
      <div class="select" [class.dirty]="stateDirty">
        <select
            [(ngModel)]="location.state"
            name="state"
            #state="ngModel"
            materialize="material_select"
            required
            (change)="changeState()"
            [materializeSelectOptions]="states$ | async">
          <option value="">Please select one</option>
          <option *ngFor="let state of states$ | async | iterable" [value]="state.key">{{state.value}}</option>
        </select>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="label left-align">Zip</div>
      <input
          id="zip_code"
          placeholder="Enter Zip Code"
          class="validate col s12 minlength-validation"
          [(ngModel)]="location.zip_code"
          name="zip_code"
          #zip_code="ngModel"
          required minlength="5"
          type="text">
      <div [hidden]="zip_code.valid || zip_code.pristine" class="error red-text left-align">
        Zip code is required.
      </div>
    </div>
  </div>

  <div class="input row">
    <div class="col s12 m4">
      <div class="label left-align">Phone</div>
      <phone-input
          (onCountryChange)="onCountryChange($event)"
          [selectedCountry]="selectedCountry">
        <input
            [textMask]="phoneMask"
            id="phone"
            placeholder="Enter phone number"
            class="validate col s12"
            [(ngModel)]="locationFormPhone"
            name="phone"
            #phone="ngModel"
            required
            minlength="11"
            type="text">
        <div [hidden]="phone.valid || phone.pristine" class="error red-text left-align">
          Phone number required.
        </div>
      </phone-input>
    </div>
    <div class="col s12 m4">
      <div class="label left-align">Email</div>
      <input
          id="email"
          class="validate col s12"
          placeholder="Enter email"
          [(ngModel)]="location.email"
          name="email"
          #email="ngModel"
          required minlength="6" maxlength="254" pattern=".+@.+\..+"
          type="text">
      <div [hidden]="email.valid || email.pristine" class="error red-text left-align">
        Your email must be from 6 to 254 characters long and look like an e-mail address.
      </div>
    </div>
    <div class="col s12 m4">
      <div class="label left-align">Fax</div>
      <phone-input
          (onCountryChange)="onFaxCountryChange($event)"
          [selectedCountry]="selectedFaxCountry">
        <input
            [textMask]="phoneMask"
            id="fax"
            placeholder="Enter fax number"
            class="validate col s12"
            [(ngModel)]="locationFormFax"
            name="fax"
            #fax="ngModel"
            type="text">
      </phone-input>
    </div>
  </div>

  <div class="input row location-image">
    <div class="col s12 m5">
      <div class="img-container"
           fileDrop
           [ngClass]="{'file-is-over': fileIsOver}"
           [options]="options"
           (fileOver)="fileOver($event)"
           (onFileDrop)="onFileDrop($event)">
        <div class="img" *ngIf="uploadedImage" [ngStyle]="{ 'background-image': 'url(' + uploadedImage + ')' }">
          <div class="del-img-btn" (click)="uploadedImage = null"><i class="material-icons">delete</i></div>
        </div>
      </div>
    </div>
    <div class="col s12 m7">
      <div class="text">
        <div class="label">Location Image</div>
        <div class="tip">Please upload a JPG or PNG max size 10 MB</div>
        <div class="file-field">
          <div class="upload-link">
            <input type="file" accept="image/*" (change)="changeListener($event)" />
            <a>Upload a photo</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="buttons center-align">
    <button
        type="submit"
        class="btn white-text waves-effect waves-light"
        [class.disabled]="!locationForm.form.valid"
        [disabled]="!locationForm.form.valid">
      Save
    </button>
    <button
        type="button"
        class="btn white-text waves-effect waves-light uptracker-form-delete-btn"
        *ngIf="location.id"
        (click)="deleteLocation(location)">
      Delete
    </button>
  </div>
</form>
