<div class="close" (click)="dismissModal()"></div>
<div class="inner">
  <div class="title center-align">{{product.name}}</div>
  <div class="row">
    <div class="col s12 m3">
      <div class="img-container">
        <div class="img" *ngIf="product?.image" [ngStyle]="{ 'background-image': 'url(' + product?.image + ')' }"></div>
      </div>
    </div>
    <div class="info-box col s12 m9">
      <div class="ttl-box row">
        <div class="ttl col s12">{{product.name}}</div>
      </div>
      <div class="row">
        <div class="col s4">
          <label>Hazardous</label>
          <span class="value">{{product.hazardous_string}}</span>
        </div>
        <div class="col s4">
          <label>Trackable</label>
          <span class="value">{{product.trackable_string}}</span>
        </div>
        <div class="col s4">
          <label>Tax Exempt</label>
          <span class="value">{{product.tax_exempt_string}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <label>Department</label>
          <div class="value">{{product.department}}</div>
        </div>
        <div class="col s4">
          <label>Category</label>
          <div class="value">{{product.category}}</div>
        </div>
        <div class="col s4">
          <label>Accounting</label>
          <div class="value">{{product.tax_exempt_string}}</div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col s12">
      <ul class="tabs" materialize="tabs">
        <li class="tab col s2"><a href="#variations">Variations</a></li>
        <li class="tab col s2"><a href="#info">Info</a></li>
        <li class="tab col s2"><a href="#inventory">Inventory</a></li>
        <li class="tab col s2"><a href="#tracking">Tracking</a></li>
        <li class="tab col s2"><a href="#history">Order History</a></li>
        <li class="tab col s2"><a href="#comments">Comments</a></li>
      </ul>
    </div>
  </div>


  <div id="variations">
    <div class="inner">
      <table>
        <tr class="uptracker-form row">
          <th>
            <div class="input">
              <input
                  type="text"
                  class="col s12 name-input"
                  [(ngModel)]="variation.name"
                  placeholder="Name"
                  #name="ngModel" />
            </div>
          </th>
          <th>
            <div class="select">
              <select
                  [(ngModel)]="variation.pkg"
                  #pkg="ngModel"
                  materialize="material_select"
                  (change)="changePkg($event)"
                  [materializeSelectOptions]="">
                <option value="">Pkg Type</option>
                <option value="type1">Type 1</option>
                <option value="type2">Type 2</option>
              </select>
            </div>
          </th>
          <th>
            <div class="select">
              <select
                  [(ngModel)]="variation.unit"
                  #unit="ngModel"
                  materialize="material_select"
                  (change)="changeUnit($event)"
                  [materializeSelectOptions]="">
                <option value="">Unit Type</option>
                <option value="type1">Type 1</option>
                <option value="type2">Type 2</option>
              </select>
            </div>
          </th>
          <th>
            <div class="select">
              <select
                  [(ngModel)]="variation.units_pkg"
                  #units_pkg="ngModel"
                  materialize="material_select"
                  (change)="changeUnitsPkg($event)"
                  [materializeSelectOptions]="">
                <option value="">Units/pkg.</option>
                <option value="100">100</option>
                <option value="200">200</option>
              </select>
            </div>
          </th>
          <th>
            <div class="select">
              <select
                  [(ngModel)]="variation.size"
                  #size="ngModel"
                  materialize="material_select"
                  (change)="changeSize($event)"
                  [materializeSelectOptions]="">
                <option value="">Size</option>
                <option value="size1">Size 1</option>
                <option value="size2">Size 2</option>
              </select>
            </div>
          </th>
          <th>
            <div class="select">
              <select
                  [(ngModel)]="variation.material"
                  #material="ngModel"
                  materialize="material_select"
                  (change)="changeMaterial($event)"
                  [materializeSelectOptions]="">
                <option value="">Material</option>
                <option value="material1">Material 1</option>
                <option value="material2">Material 2</option>
              </select>
            </div>
          </th>
          <th>
            <div class="input">
              <input
                  type="text"
                  class="col s12 price-range-input"
                  [(ngModel)]="variation.price_range"
                  placeholder="Price Range"
                  #price_range="ngModel" />
            </div>
          </th>
          <th></th>
        </tr>
        <tr>
          <td>Product name here</td>
          <td>Value Here</td>
          <td>Value Here</td>
          <td>100</td>
          <td>White</td>
          <td>Plastic</td>
          <td>$100-$1000</td>
          <td>
            <button type="button" class="uptracker-form-btn not-submit">Add</button>
          </td>
        </tr>
        <tr>
          <td>Product name here</td>
          <td>Value Here</td>
          <td>Value Here</td>
          <td>100</td>
          <td>White</td>
          <td>Plastic</td>
          <td>$100-$1000</td>
          <td>
            <button type="button" class="uptracker-form-btn not-submit">Add</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="info">
    <div class="inner">
      Info tab
    </div>
  </div>
  <div id="inventory">
    <div class="inner">
      Inventory tab
    </div>
  </div>
  <div id="tracking">
    <div class="inner">
      Tracking tab
    </div>
  </div>
  <div id="history">
    <div class="inner">
      History tab
    </div>
  </div>
  <div id="comments">
    <div class="inner">

      <div class="uptracker-form">
        <div class="buttons left-align">
          <button type=submit class="btn white-text waves-effect waves-light">Send</button>
        </div>
        <div class="input row textarea-row">
          <div class="col s12">
            <div class="textarea">
              <textarea id="comments-textarea" class="materialize-textarea"></textarea>
              <label for="comments-textarea">Comment</label>
            </div>
          </div>
        </div>
      </div>

      <div class="comments">
        <ul class="collection">
          <li class="collection-item avatar">
            <img src="../../../../assets/img/icon-nav-users.svg" class="circle">
            <span class="title">Alvin</span>
            <p>
              Comment #1
            </p>
            <span class="secondary-content">12.12.2016</span>
          </li>
          <li class="collection-item avatar">
            <img src="../../../../assets/img/icon-nav-users.svg" class="circle">
            <span class="title">Alvin</span>
            <p>
              Comment #2
            </p>
            <span class="secondary-content">12.12.2016</span>
          </li>
          <li class="collection-item avatar">
            <img src="../../../../assets/img/icon-nav-users.svg" class="circle">
            <span class="title">Alvin</span>
            <p>
              Comment #3
            </p>
            <span class="secondary-content">12.12.2016</span>
          </li>
          <li class="collection-item avatar">
            <img src="../../../../assets/img/icon-nav-users.svg" class="circle">
            <span class="title">Alvin</span>
            <p>
              Comment #4
            </p>
            <span class="secondary-content">12.12.2016</span>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
