<div class="close" (click)="closeModal()"></div>
<div class="title center-align">Location Details</div>
<form class="uptracker-form" materialize (ngSubmit)="onSubmit()" #locationForm="ngForm" autocomplete="off" novalidate>
  <div class="input row">
    <div class="col s12 m6">
      <div class="label left-align">Location Name</div>
      <input
          id="name"
          placeholder="Enter name here"
          class="validate col s12"
          [(ngModel)]="location.name"
          name="name"
          #name="ngModel"
          required
          type="text">
      <div [hidden]="name.valid || name.pristine" class="error red-text left-align">
        Location Name is required.
      </div>
    </div>
    <div class="col s12 m6 location-type">
      <div class="helper"></div>
      <div class="label left-align">Location Type</div>
      <div class="select" [class.dirty]="typeDirty">
        <select
            [(ngModel)]="selectedType"
            name="type"
            #type="ngModel"
            materialize="material_select"
            required
            (change)="changeType()"
            [materializeSelectOptions]="selectTypes">
          <option value="">Please select one</option>
          <option>Type1</option>
          <option>Type2</option>
          <option>Type3</option>
        </select>
      </div>
    </div>
  </div>

  <div class="input row">
    <div class="label left-align col s12">Street Address</div>
    <div class="col s12 m8">
      <input
          id="address"
          placeholder="123 Main St."
          class="validate col s12"
          [(ngModel)]="location.address"
          name="address"
          #address="ngModel"
          required
          type="text">
      <div [hidden]="address.valid || address.pristine" class="error red-text left-align">
        Street Address is required.
      </div>
    </div>
    <div class="col s12 m4">
      <input
          id="unit"
          placeholder="Unit #"
          class="validate col s12"
          [(ngModel)]="location.unit"
          name="unit"
          #unit="ngModel"
          required
          type="text">
      <div [hidden]="unit.valid || unit.pristine" class="error red-text left-align">
        Unit # is required.
      </div>
    </div>
  </div>

  <div class="input row">
    <div class="col s12 m4">
      <div class="label left-align">City</div>
      <input
          id="city"
          placeholder="Enter city here"
          class="validate col s12"
          [(ngModel)]="location.city"
          name="city"
          #city="ngModel"
          required
          type="text">
      <div [hidden]="city.valid || city.pristine" class="error red-text left-align">
        City is required.
      </div>
    </div>
    <div class="col s12 m4">
      <div class="label left-align">State</div>
      <div class="select" [class.dirty]="stateDirty">
        <select
            [(ngModel)]="selectedState"
            name="state"
            #state="ngModel"
            materialize="material_select"
            required
            (change)="changeState()"
            [materializeSelectOptions]="selectStates">
          <option value="">Please select one</option>
          <option>State1</option>
          <option>State2</option>
          <option>State3</option>
        </select>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="label left-align">Zip</div>
      <input
          id="zip"
          placeholder="Enter Zip Code"
          class="validate col s12 minlength-validation"
          [(ngModel)]="location.zip"
          name="zip"
          #zip="ngModel"
          required minlength="5"
          type="text">
      <div [hidden]="zip.valid || zip.pristine" class="error red-text left-align">
        Zip code is required.
      </div>
    </div>
  </div>

  <div class="input row">
    <div class="col s12 m4">
      <div class="label left-align">Phone</div>
      <input
          id="phone"
          placeholder="Enter phone number"
          class="validate col s12"
          [(ngModel)]="location.phone"
          name="phone"
          #phone="ngModel"
          required
          minlength="10" maxlength="12" pattern="[0-9]+"
          type="text">
      <div [hidden]="phone.valid || phone.pristine" class="error red-text left-align">
        *Phone number must contain from 10 to 12 numbers.
      </div>
    </div>
    <div class="col s12 m4">
      <div class="label left-align">Email</div>
      <input
          id="email"
          class="validate col s12"
          placeholder="Enter email"
          [(ngModel)]="location.email"
          name="email"
          #email="ngModel"
          required minlength="6" maxlength="254" pattern=".+@.+\..+"
          type="text">
      <div [hidden]="email.valid || email.pristine" class="error red-text left-align">
        Your email must be from 6 to 254 characters long and look like an e-mail address.
      </div>
    </div>
    <div class="col s12 m4">
      <div class="label left-align">Fax</div>
      <input
          id="fax"
          placeholder="Enter fax number"
          class="validate col s12"
          [(ngModel)]="location.fax"
          name="fax"
          #fax="ngModel"
          required
          minlength="10" maxlength="12" pattern="[0-9]+"
          type="text">
      <div [hidden]="fax.valid || fax.pristine" class="error red-text left-align">
        *Fax number must contain from 10 to 12 numbers.
      </div>
    </div>
  </div>

  <div class="input row location-image">
    <div class="col s12 m5">
      <div class="img-container"
           fileDrop
           [ngClass]="{'file-is-over': fileIsOver}"
           [options]="options"
           (fileOver)="fileOver($event)"
           (onFileDrop)="onFileDrop($event)">
        <div class="img" *ngIf="uploadedImage">
          <img src="{{uploadedImage}}" alt="" />
        </div>
      </div>
    </div>
    <div class="col s12 m7">
      <div class="text">
        <div class="label">Location Image</div>
        <div class="tip">Please upload a JPG or PNG max size 10 MB</div>
        <div class="file-field">
          <div class="upload-link">
            <input type="file" accept="image/*" (change)="changeListener($event)" />
            <a>Upload a photo</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="buttons center-align">
    <button
        type="submit"
        class="btn white-text waves-effect waves-light"
        [class.disabled]="!locationForm.form.valid"
        [disabled]="!locationForm.form.valid">
      Save
    </button>
  </div>
</form>
