.auth-box{

  &.text-box{
    height:740px;
    max-height:calc(100vh - 214px); // + 60px
    position:relative;
    //overflow-y: auto;
    //padding:30px 15px 15px;
    padding-top:20px;

    .title{
      text-align:center;
    }

    .text{
      margin:10px 0 0;
      padding:0 30px 10px;
      overflow-y: auto;
      height:calc(100% + 10px);

      p:first-child{
        margin-top:0;
      }
    }

    button{
      position:absolute;
      top:19px;
      left:30px;
      color:#fff;
      width:60px;
      height:30px;
      font-size:14px;
      background: #f1594e;
    }
  }

  .signup-terms{
    color:#9a9c9e;
    margin-top:39px;

    a:hover{
      cursor:pointer;
    }
  }
}

@media all and (max-width: 480px){
  .auth-box.text-box {
    padding-top: 60px;
  }
}









