<div class="users content">
  <div class="arrow-buttons">
    <button class="btn-floating up-btn" (click)="upload()"></button>
    <button class="btn-floating down-btn" (click)="download()"></button>
  </div>
  <div class="title">Add users to your account</div>
  <div class="subtitle">Please add the people that will have access to your account.</div>
  <div class="users-row">
    <div class="list">
      <div class="item center-align" *ngFor="let user of userArr" (click)="viewUserModal(user)">
        <div class="img" [ngStyle]="{ 'background-image': 'url(' + user.avatar + ')' }"></div>
        <div class="ttl">{{user.name}}</div>
      </div>
    </div>
    <div class="left add-item">
      <div class="empty item" (click)="viewUserModal()"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="buttons">
    <button class="back left" (click)="goBack()">Back</button>
    <button class="next waves-effect waves-light right" (click)="goNext()">Next</button>
    <div class="clearfix"></div>
  </div>
</div>