.user-image{
  .img-container{
    height:300px;
    background-image: url(/assets/img/onboard/icon-img-placeholder-users.svg);
  }

  a{
    cursor:pointer;
  }
}

.info{
  margin-top:-10px;

  .ttl{
    font-weight:bold;
    margin-top:10px;
  }

  .left{
    margin-right:5px;
  }

  button{
    margin:15px 0 0;
    background:#33c6d9;
  }
}

.user-tabs {
  margin-bottom: 20px;
}

.buttons{
  margin:44px 0 0;

  .confirm-btn {
    float: none !important;
    margin: 0 1%;
  }
}

.title-input {
  margin-bottom: 20px;
}