@mixin collapsed-left-panel{
  width:200px;

  .logo{
    a{
      width: 153px;
      height: 34px;
      padding-right: 35px;
      // TODO: remove after testing
      //background: url(/assets/img/logo.svg) no-repeat center center;
      //background-size: auto 100%;
    }
  }

  .nav a{
    text-indent:0;
  }
}

:host /deep/ {
  .dashboard{
    min-height: 100vh;

    .left-panel{
      float:left;
      width:70px;
      transition: width .3s ease-out 0.05s;
      overflow: hidden;

      .logo{
        background: #404852;
        height:70px;
        padding:15px 7px 0 0;

        a{
          // TODO: remove after testing
          //background-image: url(/assets/img/icon-nav-uptracker.svg);
          //width:26px;
          //height:45px;
          padding-right:0;

          height:34px;
          width:22px;
          background: url(/assets/img/logo.svg) no-repeat right center;
          background-size:auto 100%;
          transition: width .3s ease-out 0.05s;
        }
      }

      .nav{
         a{
           display:block;
           color:#fff;
           font-family: 'Ubuntu';
           font-weight:bold;
           padding-left:66px;
           line-height:70px;
           text-transform: uppercase;
           background-repeat:no-repeat;
           white-space: nowrap;
           text-indent:-5000px;

           &:hover,
           &.active{
             background-color:#18a6b9;
             text-decoration: none;
           }

           &.orders{
             background-image: url(/assets/img/icon-nav-orders.svg);
             background-position:19px center;
           }

           &.products{
             background-image: url(/assets/img/icon-nav-products.svg);
             background-position:22px center;
           }

           &.inventory{
             background-image: url(/assets/img/icon-nav-inventory.svg);
             background-position:16px center;
           }

           &.transfers{
             background-image: url(/assets/img/icon-nav-transfers.svg);
             background-position:14px center;
           }

           &.vendors{
             background-image: url(/assets/img/icon-nav-vendors.svg);
             background-position:17px center;
           }

           &.locations{
             background-image: url(/assets/img/icon-nav-locations.svg);
             background-position:17px center;
           }

           &.users{
             background-image: url(/assets/img/icon-nav-users.svg);
             background-position:14px center;
           }
         }
       }

      &.collapsed{
        @include collapsed-left-panel;
      }

      //.nav{
      //  a{
      //    text-indent:-5000px;
      //  }
      //}
    }

    .left-panel:hover{
      //float:left;
      //width:200px;

      //.logo {
      //  background: #404852;
      //  height:70px;
      //  padding:15px 7px 0 0;
      //}

      //.nav{
      //  a{
      //    display:block;
      //    color:#fff;
      //    font-family: 'Ubuntu';
      //    font-weight:bold;
      //    padding-left:66px;
      //    line-height:70px;
      //    text-transform: uppercase;
      //    background-repeat:no-repeat;
      //
      //    &:hover,
      //    &.active{
      //      background-color:#198f90;
      //      text-decoration: none;
      //    }
      //
      //    &.orders{
      //      background-image: url(/assets/img/icon-nav-orders.svg);
      //      background-position:19px center;
      //    }
      //
      //    &.products{
      //      background-image: url(/assets/img/icon-nav-products.svg);
      //      background-position:22px center;
      //    }
      //
      //    &.inventory{
      //      background-image: url(/assets/img/icon-nav-inventory.svg);
      //      background-position:16px center;
      //    }
      //
      //    &.transfers{
      //      background-image: url(/assets/img/icon-nav-transfers.svg);
      //      background-position:14px center;
      //    }
      //
      //    &.vendors{
      //      background-image: url(/assets/img/icon-nav-vendors.svg);
      //      background-position:17px center;
      //    }
      //
      //    &.locations{
      //      background-image: url(/assets/img/icon-nav-locations.svg);
      //      background-position:17px center;
      //    }
      //
      //    &.users{
      //      background-image: url(/assets/img/icon-nav-users.svg);
      //      background-position:14px center;
      //    }
      //  }
      //}
    }

    .main-column{
      margin-left:70px;
      min-height: 100vh;
      background:#f5f6f7;
      overflow:hidden;

      .header{
        height:69px;
        background:#fff;
        position:relative;
        box-shadow: 0 1px 0 0 #d6d6d6;

        .select {
          margin: 19px 0 0 19px;
          width: 200px;
          max-width: calc(100% - 19px);

          .caret{
            right:10px;
          }

          input.select-dropdown{
            height: 30px;
            border: 1px solid #979797;
            font-weight:bold;
            text-indent:8px;
            font-size:12px;
          }

          .dropdown-content{
            border:1px solid #979797;
            margin-top:0;

            li{
              //&:hover{
              //  background:#f5f5f5;
              //}

              span{
                padding:0 0 0 8px;
                font-size:12px;
                line-height:30px;
              }
            }
          }
        }
      }

      .content-wrapper{
        padding:34px 25px 40px 30px;

        .top{
          margin-bottom:17px;

          .title{
            min-width:300px;
            line-height:30px;
            font-size: 28px;
            font-family: Ubuntu;

            .main-title{
              font-weight: bold;
              margin-right:10px;
            }

            .sub-title{
              font-weight: 300;
              color:#33c6d9;
            }
          }

          .filter{
            margin-left:-10px;
            margin-right:15px;

            input{
              height:30px;
              width:200px;
              margin:0;
              font:12px Lato;
              box-sizing:border-box;
              background:#f1f2f2;
            }

            .input {
              margin:0 0 0 10px;

              input{
                padding:0 10px;
              }
            }

            .select {
              height:32px;
              margin-left:10px;
              margin-bottom: 10px;

              .select-wrapper.ng-valid input.select-dropdown{
                border-color:#d6d6d6;
              }

              .select-wrapper .dropdown-content {
                margin:0;

                li span{
                  font-size:12px;
                  line-height:30px;
                }
              }
            }

            .uptracker-form-btn{
              width: auto;
              min-width:130px;
            }
          }

          button{
            margin-bottom:12px;
          }

          .uptracker-form-btn{
            background:#33c6d9;
            margin-left:10px;
            height:30px;
            color:#fff;
            font-size: 12px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media all and (min-width: 769px){
  :host /deep/ {
    .left-panel{
      &:hover{
        @include collapsed-left-panel;
      }
    }
  }
}

@media all and (max-width: 1023px){
  :host /deep/ {
    .dashboard .main-column .content-wrapper{
      padding-left:15px;
      padding-right:15px;

      .top{
        .title{
          margin-bottom:10px;
        }

        .filter{
          float:none;
          max-width:100%;
          clear:both;
          margin-right:0;

          .input{
            margin-bottom:10px;
          }
        }
      }
    }
  }
}

//@media all and (max-width: 768px) {
//  .dashboard{
//    .left-panel{
//      width:70px;
//
//      .logo{
//        a{
//          background-image: url(/assets/img/icon-nav-uptracker.svg);
//          width:26px;
//          height:45px;
//          padding-right:0;
//        }
//      }
//
//      .nav{
//        a{
//          text-indent:-5000px;
//        }
//      }
//    }
//
//    .main-column{
//      margin-left:70px;
//    }
//  }
//}

@media all and (max-width: 480px) {
  .dashboard{
    .main-column {
      margin-left: 70px;

      .header {
        .select {
          margin-left: 0;
          width: 100px;
          max-width:inherit;
        }
      }
    }
  }
}