<div class="dashboard">
  <aside class="left-panel" [class.collapsed]="stateService.isUrl('/dashboard')">
    <div class="logo">
      <a [routerLink]="['']">uptracker</a>
    </div>
    <div class="nav">
      <a [routerLink]="['/dashboard']" class="dash" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Dashboard</a>
      <a [routerLink]="['/dashboard', 'shopping']" class="shopping" routerLinkActive="active">Shopping List</a>
      <a [routerLink]="['/dashboard', 'orders']" class="orders" routerLinkActive="active">Orders</a>
      <a [routerLink]="['/dashboard', 'products']" class="products" routerLinkActive="active">Products</a>
      <a [routerLink]="['/dashboard', 'inventory']" class="inventory" routerLinkActive="active">Inventory</a>
      <a [routerLink]="['/dashboard', 'transfers']" class="transfers" routerLinkActive="active">Transfers</a>
      <a [routerLink]="['/dashboard', 'vendors']" class="vendors" routerLinkActive="active">Vendors</a>
      <a [routerLink]="['/dashboard', 'locations']" class="locations" routerLinkActive="active">Locations</a>
      <a [routerLink]="['/dashboard', 'users']" class="users"  routerLinkActive="active">Users</a>
    </div>
  </aside>
  <section class="main-column">
    <header class="header">
      <div class="row">
        <div class="col s6 m6">
          <div class="select input-field" *ngIf="!stateService.isUrl('/dashboard/locations') && !stateService.isUrl('/dashboard') && !stateService.isUrl('/products')">
            <select
                [(ngModel)]="selectedLocation"
                name="location"
                materialize="material_select"
                [materializeSelectOptions]="locations$ | async"
                (change)="changeLocation($event)">
              <option value="">All Locations</option>
              <option *ngFor="let location of locations$ | async" [value]="location.id">{{location.name}}</option>
            </select>
          </div>
        </div>
        <div class="col s6 m6 user-menu-col">
          <user-dropdown-menu></user-dropdown-menu>
        </div>
      </div>
    </header>
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>