<div class="locations content">
  <div class="top">
    <div class="title left">
      <div class="main-title left">Locations</div>
      <div class="sub-title">{{total}} total</div>
    </div>
    <div class="filter uptracker-form right">
      <div class="left input">
        <input type="text" placeholder="Keywork search" [(ngModel)]="searchKey" class="col s12" (input)="locationsFilter($event)" />
      </div>
      <div class="left select">
        <select [(ngModel)]="sortBy" materialize="material_select" (change)="locationsSort($event)">
          <option value="">Sort by</option>
          <option value="name">Name</option>
          <option value="location_type">Location type</option>
        </select>
      </div>
      <div class="left">
        <button type="button" (click)="editLocationModal()" class="uptracker-form-btn waves-light waves-effect">Add New Location</button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="list left-align">
    <div class="item" *ngFor="let location of locations$ | async">
      <div class="img" [ngStyle]="{ 'background-image': 'url('+location.image+')' }" (click)="viewLocationModal(location)"></div>
      <div class="info">
        <div class="ttl" (click)="viewLocationModal(location)">{{location.name}}</div>
        <div class="edit" (click)="editLocationModal(location)"></div>
      </div>
    </div>
    <div class="empty item" (click)="editLocationModal()"></div>
  </div>
</div>