/* You can add global styles to this file, and also import other style files */
//@import "~materialize-css/sass/components/_color.scss";
//@import "~materialize-css/sass/components/_waves.scss";

$tealish: #33c6d9;

html{
  height:100%;
}

body{
  background: $tealish;
  //background: #f5f6f7;
  font-family: 'Lato', 'Roboto', Tahoma, Arial, sans-serif;
  font-size:14px;
}

a{
  color:$tealish;

  &:hover{
    text-decoration: underline;
  }
}

.btn,.btn-floating{
  &:hover{
    text-decoration:none;
  }
}

// dropdown menu styling
@mixin dropdown-content{
  box-shadow:none;
  border:1px solid #d6d6d6;
  border-radius:5px;
  max-height:285px;

  li{
    min-height:inherit;
    color:#444;

    &:hover{
      background:#f5f5f5;
    }
  }
}

.uptracker-dropdown{
  position:relative;
  text-align:center;

  a{
    span{
      max-width: calc(100% - 15px);
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
    }

    .caret{
      display:inline-block;
      background:url(/assets/img/icon-dropdown-arrow.svg) no-repeat center center;
      width:10px;
      height:6px;
      vertical-align: middle;
      margin-left:5px;
    }
  }

  .dropdown-content{
    @include dropdown-content;

    li{
      line-height:38px;
      padding:0 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.select{
  &.dirty{
    .select-wrapper{
      input.select-dropdown{
        border-color:#4CAF50;
        color:inherit;
      }
    }
  }

  .select-wrapper{
    &.ng-pristine{
      input{
        color:#9a9c9e;
      }
    }

    &.ng-valid{
      input.select-dropdown{
        border-color: #4CAF50;
        color:rgba(0, 0, 0, 0.87);
      }
    }

    .caret{
      background:url(/assets/img/icon-dropdown-arrow.svg) no-repeat center center;
      text-indent:-5000px;
      width:10px;
      height:6px;
      top:50%;
      margin-top:-3px;
      right:10px;
      z-index:10;
    }

    input.select-dropdown{
      height: 40px;
      border-radius: 5px;
      border: 1px solid #d6d6d6;
      line-height:normal;
      font-size:14px;
      text-indent:10px;
      color:#9a9c9e;
      box-sizing:border-box;
    }

    .dropdown-content{
      @include dropdown-content;
      margin-top:8px;

      li{
        span{
          color:#444;
          padding:0 0 0 10px;
          font-size:14px;
          line-height:40px;
        }
      }
    }
  }
}

button{
  &[disabled]{
    cursor:default !important;
  }
}




/*** Materialize styles
*************************************************/

#toast-container {
  .toast {
    opacity: 0.9 !important;
  }
}

@media only screen and (min-width: 993px) {
  #toast-container {
    top: 1%;
    right: 2%;
    max-width: 86%;
  }
}

.with-helper{
  position:relative;
}

.helper{
  width:22px;
  height:22px;
  background:url(/assets/img/icon-info.svg) no-repeat;
}

.tabs{
  border-bottom:1px solid #d6d6d6;

  li.tab{
    a{
      font-family: Ubuntu;
      color:#9a9c9e;

      &:hover{
        color:#000;
        text-decoration: none;
      }

      &.active{
        color:#000;
      }
    }
  }

  .indicator{
    background:$tealish;
    height:3px;
  }
}


/*** Logo
**************************************************/

.logo{
  a{
    display:block;
    width:153px;
    height:34px;
    padding-right:35px;
    font-family: Ubuntu;
    font-size:28px;
    background: url(/assets/img/logo.svg) no-repeat center center;
    background-size: auto 100%;
    color:#fff;
    margin:0 auto;
    text-indent:-5000px;

    &:hover{
      text-decoration: none;
    }
  }
}



/*** User Menu column
*************************************************/

.user-menu-col{
  position:relative;
}

/*** Forms
*************************************************/
@mixin form-field {
  border-radius: 5px;
  background-color: #f5f6f7;
  border: 1px solid #d6d6d6;
  margin: 8px 0 0;
  box-shadow: none !important;
  font-size: 14px;
  font-family: Lato;

  &:focus {
    border-color: $tealish;
  }

  & + .error {
    display: none;
  }

  &.valid {
    border-color: #4CAF50;
  }

  // materialize validation error
  &.invalid {
    border-color: #F44336;

    & + .error {
      display: block;
    }
  }

  &.minlength-validation{
    &.ng-touched {
      &.ng-dirty {
        &.ng-invalid {
          border-color: #F44336;

          & + .error {
            display: block;
          }
        }
      }
    }
  }
}

@mixin range-track{
  border: 1px solid #d6d6d6;
  background: #f5f6f7;
  height: 11px;
  border-radius: 5px;
}

@mixin range-thumb{
  background: $tealish;
  border:1px solid $tealish;
  width:30px;
  height:30px;
  margin-top:-11px;
}

@mixin range-thumb-disabled{
  background:#f5f6f7;
  border:1px solid #d6d6d6;
}

.uptracker-form{
  .input {
    margin-bottom: 25px;

    input {
      height: 40px;
      @include form-field;

      &[type=file]{
        height:inherit;
        margin:0;
      }
    }
  }

  .split-input-row {
    margin: 0 -0.75rem;
  }

  .textarea {
    textarea{
      @include form-field;
      padding:10px;
      min-height: 220px;
      box-sizing: border-box;
    }
  }

  .error {
    font-size: 12px;
    margin-top: 3px;
  }

  .input-checkbox {
    [type="checkbox"] {
      & + label {
        padding-left: 25px;
        font-size: 14px;

        &:before {
          width: 20px;
          height: 20px;
          background-color: #f5f6f7;
          border-color: #d6d6d6;
          border-radius: 3px;
        }
      }

      &:checked {
        & + label:before {
          border-width: 0 2px 2px 0;
          background: transparent;
          width: 10px;
          height: 15px;
          border-radius: 1px;
          top: 1px;
          left: -2px;
          border-color: $tealish;
        }
      }
    }
  }

  .img-container{
    border-radius: 5px;
    background: #f5f6f7 no-repeat center center;
    border:1px dashed #d6d6d6;
    max-width:100%;

    &.file-is-over{
      border-style: solid;
      border-color: $tealish;
    }

    .img{
      height:calc(100%);
      overflow:hidden;
      text-align:center;
      background-color:#f5f6f7;
      background-repeat:no-repeat;
      background-position:center center;
      background-size:cover;
      position: relative;
      z-index: 5;
      border-radius:5px;

      img{
        max-width:100%;
        max-height:100%;
        position:relative;
        top: 50%;
        transform: translateY(-50%);
      }

      .del-img-btn{
        position: absolute;
        bottom:10px;
        right:10px;
        width:30px;
        height:30px;
        text-align:center;
        background:#f1f1f1;
        border:1px solid #d6d6d6;
        border-radius:5px;
        z-index:4;
        cursor: pointer;
        opacity:.7;

        i{
          line-height:29px;
        }
      }
    }
  }

  .upload-link{
    display:inline-block;
    position:relative;
    cursor:pointer;

    input:hover {
      overflow:hidden;
      text-indent: 5000px;

      & + a{
        text-decoration:underline;
      }
    }
  }

  .helper{
    position:absolute;
    right:0.75rem;
    top:3px;
  }

  .tip{
    color:#9a9c9e;
  }

  .no-label{
    padding-top:21px;
  }

  .prefix-input{
    position:relative;
    height:40px;
    margin-top:8px;

    .prefix{
      position:absolute;
      border-right:1px solid #d6d6d6;
      background:#fff;
      z-index:3;
      width:38px;
      height:38px;
      left:1px;
      top:1px;
      text-align:center;
      line-height:38px;
      color:#9a9c9e;
      border-radius:5px 0 0 5px;
    }

    input{
      position:relative;
      margin-top:0;
      z-index:1;
      padding-left:50px;
    }
  }

  .suffix-input{
    @extend .prefix-input;

    .suffix{
      position:absolute;
      border-left:1px solid #d6d6d6;
      background:#fff;
      z-index:3;
      width:38px;
      height:38px;
      right:1px;
      top:1px;
      text-align:center;
      line-height:38px;
      color:#9a9c9e;
      border-radius:0 5px 5px 0;
    }

    input{
      padding-right:50px;
      padding-left:0.75rem;
    }
  }

  .lock-box{
    border:1px solid #d6d6d6;
    border-radius:5px;
    height:30px;
    width:30px;
    background:url(/assets/img/onboard/icon-lock-open.svg) no-repeat center center;
    cursor:pointer;

    &.locked{
      background-image: url(/assets/img/onboard/icon-lock-closed.svg);
    }
  }

  .range-field{
    clear:both;

    input {
      margin:10px 0;

      & + .thumb{
        display:none;
      }
    }

    input::-webkit-slider-runnable-track {
      @include range-track;
    }

    input::-moz-range-track {
      @include range-track;
    }

    input::-ms-track {
      @include range-track;
    }

    input::-webkit-slider-thumb{
      @include range-thumb;
    }

    input::-moz-range-thumb{
      @include range-thumb;
    }

    input::-ms-thumb{
      @include range-thumb;
    }

    input[disabled]::-webkit-slider-thumb {
      @include range-thumb-disabled;
    }

    input[disabled]::-moz-range-thumb {
      @include range-thumb-disabled;
    }

    input[disabled]::-ms-thumb {
      @include range-thumb-disabled;
    }
  }

  .back-btn{
    background:transparent !important;
    width:auto;
    color:#33c6d9;
    text-align:left;
    padding:0;

    &:hover{
      text-decoration:underline;
    }
  }
}

.uptracker-form button,
.uptracker-form-btn{
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 0;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
  text-transform: capitalize;
  box-shadow:none;

  &.not-submit{
    border:1px solid $tealish;
    color:$tealish;
    background:#fff;
    font-size:14px;
    font-weight:normal;

    &:hover{
      background:$tealish;
      color:#fff;
    }

    &[disabled]{
      opacity:.5;

      &:hover{
        color:$tealish;
        background:#fff;
      }
    }
  }

  &.red-btn{
    background:#f1594e !important;
  }
}

.uptracker-form-delete-btn{
  background:#f1594e !important;
}

.switch-box{
  .switcher{
    width:50%;
    height:38px;
    line-height:38px;
    box-shadow:0 0 0 1px #d6d6d6;
    background:#f5f6f7;
    border-radius:0 5px 5px 0;
    color:#9a9c9e;
    cursor:pointer;
    float:left;
    text-align:center;
    position:relative;

    &:first-child{
      border-radius:5px 0 0 5px;
    }

    &.active{
      background:#fff;
      color:#000;
      box-shadow:0 0 0 1px $tealish;
      z-index:2;
    }
  }
}


/*** Modal
**************************************************/

modal-overlay{
  position:absolute !important;
}

.modal-backdrop{
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1040;
  background-color: #f5f6f7;
}

.modal-confirm{
  .modal-content{
    padding:50px !important;
    text-align:center;

    .modal-header{
      .modal-title{
        font: 28px/32px Ubuntu;
      }
    }

    .modal-body{
      margin: 30px 0 36px;
      color:#9a9c9e;
    }

    .modal-footer{
      background:transparent;

      button{
        margin:0 15px;
        background:$tealish;
        color:#fff;

        &.cancel-btn {
          background: transparent !important;
          width: auto;
          color: $tealish;
          text-align: left;
          padding: 0;
          border:0;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.modal{
  z-index:1050;
  max-height:inherit;
  margin:155px auto;
  background:#fff;
  width:960px;
  max-width:100%;
  border-radius: 5px;
  border:1px solid #d6d6d6;
  box-shadow:none;
  outline:0;
  overflow:visible;

  .modal-content{
    padding:60px 60px 75px;

    .close{
      width:41px;
      height:41px;
      position:absolute;
      top:-18px;
      right:-18px;
      background: url(/assets/img/onboard/close-button.svg) no-repeat;
      cursor:pointer;
    }

    .title{
      font:bold 28px/32px Ubuntu;
      margin-bottom:46px;
    }

    .row{
      margin-left: -0.75rem;
      margin-right: -0.75rem;
    }

    .buttons{
      button{
        background:$tealish;
      }
    }

    .uptracker-form.ng-valid{
      .input{
        input{
          &.ng-valid{
            border-color: #4CAF50;
          }
        }
      }
    }
  }
}

// vendor modal tabs
.location-tabs{
  margin-bottom:20px;
  overflow:visible;
  height:38px;
  overflow:visible;

  .tab{
    height:38px;
    line-height:38px;

    a{
      transition: none;
    }

    &.uptracker-dropdown{
      position:static;

      a{
        .caret{
          opacity:.4;
        }

        &:hover,
        &.active1{
          span{
            color:#000;
          }

          .caret{
            opacity:.8;
          }
        }
      }
    }

    .select{
      .select-wrapper {
        max-width:165px;
        margin:0 auto;

        .caret{
          opacity:.45;
        }

        input.select-dropdown{
          border:0;
          height:38px;
          text-align:right;
          text-transform: uppercase;
          color:#9a9c9e;
          font-family: Ubuntu;
          padding-right:25px;
        }

        .dropdown-content{
          margin-top:0;
        }
      }
    }
  }
}

@media all and (max-width: 480px){
  .modal{
    .modal-content {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}