<div class="users content">
  <div class="top">
    <div class="title left">
      <div class="main-title left">Users</div>
      <div class="sub-title">{{total}} total</div>
    </div>
    <div class="filter uptracker-form right">
      <div class="left input">
        <input type="text" placeholder="Keywork search" [(ngModel)]="searchKey" class="col s12" (input)="usersFilter($event)" />
      </div>
      <div class="left">
        <button type="button" (click)="editUserModal()" class="uptracker-form-btn waves-light waves-effect">Add New User</button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="users-row">
    <div class="list">
      <div class="item center-align" *ngFor="let user of users$ | async">
        <div class="inner">
          <div class="img" [ngStyle]="{ 'background-image': 'url(' + user.avatar + ')' }" (click)="viewUserModal(user)"></div>
          <div class="info">
            <div class="ttl" (click)="viewUserModal(user)">{{user.name}}</div>
            <div class="send-msg"></div>
            <div class="edit" (click)="editUserModal(user)"></div>
          </div>
        </div>
      </div>
      <div class="empty item" (click)="editUserModal()"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>